<!-- <main class="main"> -->
<header class="header">
    <div class="nav">
        <div class="logo-container">
            <a href="#branding">
                <img class="logo" src="assets/Asset 2@2x.png" alt="logo">
            </a>
        </div>
        <div class="nav-options">
            <a href="#products">
                <p class="products">shop</p>
            </a>
            <a href="#about">
                <p class="about">about</p>
            </a>
            <button class="cart" (click)="toggleShowCart()">
                <div class="cart-number" *ngIf="cart.length > 0">
                    <p class="number-of-items">{{cart[0]?.quantity + cart[1]?.quantity + cart[2]?.quantity}}</p>
                </div>
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </div>
</header>

<div class="cart-menu" *ngIf="showCart">
    <div class="cart-details">
        <ul *ngFor="let item of cart, index as i">
            <li class="cart-item">
                <p class="cart-detail cart-prod">{{cart[i].product}}</p>
                <div class="img-cont">
                    <i class="x-btn far fa-times-circle" (click)="deleteFromCart(item)"></i>
                    <img class="cart-img" src="{{cart[i].image}}" alt="">
                </div>
                <p class="cart-detail cart-price">${{cart[i].firstSizePrice.toFixed(2)}} each</p>
                <div class="quantity-container">
                    <div class="edit-qty">
                        <p class="plus-minus" (click)="subtractFromCart(item)">-</p>
                    </div>
                    <p class="cart-detail cart-qty">QTY: </p>
                    <p class="cart-qty cart-detail">{{cart[i].quantity}}</p>
                    <div class="edit-qty">
                        <p class="plus-minus" (click)="addAnotherToCart(item)">+</p>
                    </div>
                </div>
            </li>
        </ul>
        <p class="cart-detail cart-total" *ngIf="cart.length > 0">subtotal: ${{total.toFixed(2)}}</p>
        <p class="checkout-btn" *ngIf="cart.length > 0" routerLink="/checkout">checkout</p>
        <p class="cart-detail cart-total" *ngIf="cart.length === 0">Your cart is empty</p>
    </div>
</div>