<!-- <main class="main"> -->
<header class="header">
    <div class="nav">
        <div class="logo-container">
            <a href="#set-shot">
                <img class="logo" src="assets/Asset 2@2x.png" alt="logo">
            </a>
        </div>
        <div class="nav-options">
            <a href="#products">
                <p class="products">products</p>
            </a>
            <a href="#about">
                <p class="about">about us</p>
            </a>
            <button class="cart"><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
</header>
<div class="cart-menu" id="cart-menu"></div>
<!-- </main> -->