a {
  scroll-behavior: unset;
}

.product-card {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* margin: 50px 0 0 0; */
  position: relative;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-top: 15vh;
}

.prod-img {
  width: 80vw;
  height: 80vw;
  margin: 0 0 20px 0;
}

.prod-deets {
  display: flex;
  justify-content: space-between;
}

.title-description {
  width: 70%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.title,
.price {
  font-family: "Clarendon Bold";
  text-transform: uppercase;
  font-size: 20px;
  color: #002f3e;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.description,
.oz {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #002f3e;
  /* font-weight: 400; */
}

.add-box {
  width: 60px;
  height: 60px;
  background-color: #002f3e;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.add-box:hover {
  background-color: #92215e;
}

.fa-chevron-left,
.fa-chevron-right {
  font-weight: 900;
  z-index: 3;
  top: 50%;
  position: absolute;
  font-size: 32px;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #002f3e;
}

.fa-chevron-left {
  left: 22px;
}
.fa-chevron-right {
  right: -20px;
}

.selected {
  border-bottom: solid 1px black;
}

@media screen and (min-width: 768px) {
  .product-card {
    display: flex;
    width: 100%;
    height: unset;
    justify-content: center;
    position: relative;
    margin-top: 0;
  }

  .prod-img {
    width: 100%;
    height: unset;
  }

  .product {
    margin-top: 0;
    width: unset;
  }

  .products {
    justify-content: center;
  }

  .fas {
    visibility: hidden;
  }

  .add-box {
    width: 50px;
    height: 50px;
  }
  .add {
    font-size: 14px;
    line-height: 17px;
  }

  .price,
  .title {
    font-size: 18px;
  }

  .title-description {
    padding: 0;
  }
  .description {
    font-size: 15px;
    margin: 0 8px 0 0;
  }

  .add-box {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .product-card {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    margin: 0 15px 0 0;
  }
}
