@font-face {
  font-family: "Clarendon";
  src: url("src/assets/ClarendonLTStd.otf") format("opentype");
}
@font-face {
  font-family: "Clarendon Light";
  src: url("src/assets/ClarendonLTStd-Light.otf") format("opentype");
}
@font-face {
  font-family: "Clarendon Bold";
  src: url("src/assets/ClarendonLTStd-Bold.otf") format("opentype");
}

*,
body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "Clarendon", serif;
}

ul {
  margin: 0;
}

a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #212529;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* colors
yellow: #ECC236
blue: #313186
green: #002F3E
red: #C12033
pink: #92215E
purple: #4D1B3B
*/
