<app-header></app-header>
<main class="main">
    <div class="landing">
        <section class="branding" id="branding">
            <div><img class="bee-way-logo" src="assets/Asset 14bee.svg" alt=""></div>
            <img class="flower-one" src="assets/Asset 5@2x.png" alt="">
            <img class="flower-two" src="assets/Asset 6@2x.png" alt="">
            <img class="three" src="assets/Asset 7@2x.png" alt="">
            <img class="four" src="assets/Asset 8@2x.png" alt="">
            <img class="five" src="assets/Asset 13@2x.png" alt="">
            <img class="bee-one" src="assets/Asset 3@2x.png" alt="">
            <img class="bee-two" src="assets/Asset 3@2x.png" alt="">
            <img class="seven" src="assets/Asset 11@2x.png" alt="">
            <img class="eight" src="assets/Asset 12@2x.png" alt="">
        </section>
        <section class="set-shot" id="products">
            <div class="shop-container">
                <div class="text-container">
                    <a class="go-to-shop" href="#shop">
                        <p class="shop-text">sweet to<br>the soul.<br><br> health to<br>the bones.</p>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <section class="products" id="shop">
        <app-products *ngFor="let item of productsForSale, index as i" [itemRef]="item" [productsRef]="productsForSale"
            (newCartItemEvent)="addToCart($event)" class="card"></app-products>
    </section>
    <section class="about" id="about">
        <div class="about-container">
            <div class="about-text-box">
                <p class="about-title">Our Story</p>
                <p class="about-text">Bee Way Honey Pollination is family owned and operated since 1993. We take pride
                    in
                    our products, ensuring only the best quality to our customers. All of our products are raw and
                    natural.
                    Our honey varieties include blueberry, clover, raspberry, blackberry, and wildflower and are all
                    harvested in Oregon and Washington.</p>
            </div>
            <div class="contact-links">
                <div class="social">
                    <a href="https://www.instagram.com/beewayhoney/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/beewayhoney/">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div>
                    <p class="contact-us">Contact Us</p>
                    <p class="address">17496 SE Hemrick Rd<br>
                        Damascus, OR 97089<br>
                        503-658-7603</p>
                </div>
            </div>
        </div>
    </section>
</main>